@page "/takes"
@inherits HomeBase
<h1>Takes</h1>


@if (@Takes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Artist</th>
                <th>Session</th>
                <th>Normalized</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var take in @Takes)
            {
                <tr>
                    <td>@take.Id</td>
                    <td>@take.Title</td>
                    <td>@take.Artist</td>
                    <td>@take.Album</td>
                    <td>@take.WasNormalized</td>
                </tr>
            }
        </tbody>
    </table>
}
